
*.bin
*.pt
*.safetensors
uploads/
__pycache__/
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore large model files
backend/models/clinicalbert/model.safetensors
backend/models/clinicalbert/config
backend/models/clinicalbert/vocab*
backend/models/clinicalbert/tokenizer*
backend/models/clinicalbert/training_Args.bin
backend/models/clinicalbert/config.json
backend/models/clinicalbert/special_tokens_map.json
backend/models/clinicalT5/clinical_t5_finetuned
backend/models/MarianMT/en_si_finetuned_new
backend/models/MarianMT/en_ta_finetuned_new


