fastapi
uvicorn
transformers
torch
pytesseract
Pillow
python-multipart
requests
numpy
pandas
scikit-learn
joblib
xgboost
gunicorn
motor
pymongo
python-jose[cryptography]
pydantic[email]

tensorflow
scikit-image
opencv-python-headless
