fastapi
uvicorn
transformers
torch
huggingface_hub
pytesseract
Pillow
python-multipart
requests
numpy
pandas
scikit-learn
joblib
xgboost
gunicorn
motor
pymongo
python-jose[cryptography]
pydantic[email]
gtts

tensorflow
scikit-image
opencv-python-headless
